#auto_saved_files#
bear_face_silks/cake pasta.pptx
race 3 base layout.png
rectangular matrix.xlsx
bear_face_silks/blank speech bubble.jpeg
stm32 xyz sch.png
stm32 datasheet.pdf
random-keyboard-parts.pretty
MX_Alps_Hybrid
Keebio-Parts.pretty
stm32f103 datasheet.pdf
atmega32u4 datasheet.pdf
bear_face_customers.xlsx
bear_face_pcb-backups/
